@model IEnumerable<_403Project1.Models.AllRequests>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoftwareRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoftwareType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoftwareRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoftwareType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestID }) |
       
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestID })
        </td>
    </tr>
}

</table>
